.title-font {
    font-size: 3rem !important;
}

.stickyBox {
    top: 100px !important;
}

.blog-bg {
    background-color: rgba(246, 246, 246, 0.966) !important;
}

.blog-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog-img {
    transition: all .5s !important;
    -webkit-transition: all .5s !important;
    -moz-transition: all .5s !important;
    -ms-transition: all .5s !important;
    -o-transition: all .5s !important;
}

.blog-img:hover {
    transform: scale(1.1)!important;
    -webkit-transform: scale(1.1)!important;
    -moz-transform: scale(1.1)!important;
    -ms-transform: scale(1.1)!important;
    -o-transform: scale(1.1)!important;
}

.color-border {
    border: 2px solid #A31414;
}